@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background: rgb(145, 169, 224);
}

.main_nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0;
  background: radial-gradient(rgb(40, 63, 112),rgb(145, 169, 224));
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
}

.span_first {
  color: rgb(255, 172, 46);
  font-family: 'Pacifico';
}

.span_second {
  color: rgb(127, 255, 0);
  font-family: 'Pacifico';
}

.nav {
  display: flex;
  padding-top: 4px;
}

.nav_item {
  text-decoration: none;
  margin-right: 3vw;
}

.nav_item:last-child, .autorization_item:last-child {
  margin-right: 0;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 4px 15px 2px 15px;
  border-radius: 10px;
  background-color: rgb(68, 101, 179);
  cursor: pointer;
  outline: none;
  transition: color .3s linear;
}

.button:hover, .close:hover {
  background-color: rgb(31, 60, 129);
}

.auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4px;
}

.entry { 
  margin-right: 4vw;
}

.active {
  background-color: rgb(135, 157, 209);
}

/* _________________main_content_____________ */

.main_content {
  max-width: 1200px;
  height: 79vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  margin: 10px auto; 
  border-radius: 23px; 
}

.form {
  display: none;
  max-width: 400px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 22vh;
  transform: translateX(-50%);
  background: radial-gradient(rgba(40, 63, 112, 0.85),rgba(145, 169, 224, 0.85));
  box-shadow: 6px 6px 10px rgb(33, 50, 100);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.close {
  position: absolute;
  right: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 101, 179);
  border: 2px solid rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
  outline: none;
}

.h_2 {
  text-align: center;
  margin-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 158, 13);
}

.input {
  text-align: center;
  padding: 5px;
  width: 100%;
  margin-bottom: 22px;
  border-radius: 10px;
  border: none;
}

/* ---------------------------- */

.password {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.password_control {
	position: absolute;
	top: 5px;
	right: 12px;
	width: 24px;
	height: 15px;
  background: url('./images/eye1.png');
  background-size: cover;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

.view {
	background: url('./images/eye2.png');
  background-size: cover;
}

.error {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 51, 51);
  font-size: 15px;
}

/* ---------------------------- */

.input:focus {
  outline: none;
  background-color: rgb(228, 228, 228);
}

.button_form {
  display: flex;
  justify-content: space-evenly;
}

/* _________________click_____________ */
.opened {
  display: block;
}
.dontclick {
  background-color: rgb(129, 133, 143);
}

/* _________________________________end_main_content____________________________________________ */


/* _________________________________footer____________________________________________ */

.wrapper_footer {
  background-color: rgb(77, 94, 146); 
}

.copyright {
  max-width: 1200px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 59, 33);
  font-size: 12px;
  color: rgb(228, 228, 228);
  text-transform: uppercase;
}